.clients {
  align-items: center;
  display: grid;
  gap: 4.8rem 4.8rem;
  justify-items: center;
  margin: 0 auto 2rem;
  grid-template-columns: auto auto;
  padding: 0;

  &__item {
    list-style: none;
    margin: 0;
  }

  img {
    max-width: 100%;
    filter: grayscale(100%);
    opacity: .6;
    transition: all 0.3s ease-in-out;
    &.is-filter {
      filter: grayscale(100%);
    }

    &:hover {
      background: none;
      filter: grayscale(0%);
      opacity: 1;
    }
  }

  .client-wrapper {
    transition: all 0.3s ease-in-out;
    text-align: center;

    &:hover {
      transform: translateY(-0.3rem); 
    }
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: auto auto auto auto;
    margin: 2rem auto;
  }
}
