/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}



.event-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 480px;
  display: flex;
  align-items: center;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.1);
    z-index: 1;
  }
  h1 {
    position: relative;
    z-index: 2;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    padding: 40px;
    background: rgba(0, 160, 255, 0.5);
  }
}


.sidebar-box {
  margin-bottom: 4em;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.sidebar-box .heading {
  font-size: 18px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.post-entry-sidebar ul {
  padding: 0;
  margin: 0;
}

.post-entry-sidebar ul li {
  list-style: none;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

.post-entry-sidebar ul li a {
  display: table;
  text-decoration: none;
  &:hover {
    .text h4 {
      color: var(--color-secondary);
    }
  }
}

.post-entry-sidebar ul li a img, .post-entry-sidebar ul li a .text {
  display: table-cell;
  vertical-align: middle;
}
.post-entry-sidebar ul li a img {
  width: 90px;
}

.post-entry-sidebar ul li a img, .post-entry-sidebar ul li a .text {
  display: table-cell;
  vertical-align: middle;
}

.post-entry-sidebar ul li a .text h4 {
  font-size: 18px;
  color: #000;
}


.post-entry-sidebar .post-meta {
  font-size: 14px;
  color: #b3b3b3;
}

.categories {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.categories li {
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #dee2e6;
  list-style: none;
}

.categories li a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-secondary);
  transition: all 0.3s;

  &:hover {
    color: var(--color-primary);
  }
}

.categories li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #ccc;
  transition: .3s all ease;
}

.tags {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.tags li {
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
  display: inline-block;
}

.tags li a {
  float: left;
  display: block;
  border-radius: 4px;
  padding: 2px 6px;
  color: gray;
  background: #f2f2f2;
  text-decoration: none;
  &:hover {
    color: #fff;
    background: var(--color-secondary);
  }
}