.footer {
  font-size: 0.875em;
  padding-top: 35px;
  padding-bottom: 25px;
  background: var(--color-secondary);
  color: #fff;


  &__title {
    font-size: 1.875em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    
    li {
      margin-bottom: 10px;
    }

    a {
      color: #fff;
      text-decoration: none;
      display: inline-block;
      position: relative; 
      font-size: 14px;
      line-height: 1;
      padding-left: 0;
      padding-bottom: 5px;
      margin-left: 0 !important;

      &:before {
        content: '';
        position: absolute;
        bottom: -2px;
        height: 1px;
        background: #fff;
        width: 100%;
        transform: scale(0);
        transition: all 0.5s var(--default-effect);
      }
    
      &:hover, &.is-active {
        color: #fff;
        &:before {
          transform: scale(1);
        }
      }
    }
  }

  p {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
  }

  .justify-content-around {
    margin-top: 40px;
    padding-top: 20px;

    &.border-top {
      border-color: #fff !important;
    }
  }
}