.btn-primary {
  display: inline-block;
  background: var(--color-primary);
  color: #fff;
  padding: 12px 35px;
  border-radius: 35px;
  text-decoration: none;
  box-shadow: 1px 1px 1px rgba(255,255,255,0.4);
  transition: all .25s ease-in;
  font-size: 16px;

  &:hover, &:focus {
    background: var(--color-grey);
    color: #212529;
  }

  @include media-breakpoint-up(lg) {
    padding: 15px 45px;
    border-radius: 45px;
    font-size: 24px;
  }
}
