.header {
  margin-bottom: 60px;
  position: relative;

  &.is-open {
    .nav.nav--main {
      opacity: 1;	
      visibility: visible;
      transform: rotateX(0);
    }
  }

  &.is-search-open {
    .header__controller {
      opacity: 1;	
      visibility: visible;
      transform: rotateX(0);
    }
  }
}

.nav {
  &--top {
    .nav-link {
      font-size: 0.875em;
      padding: 0;
    }
    .nav-item {
      margin-right: 1rem;
      &:last-child , &:only-child {
        margin-right: 0;
      }
    }

  }

  &--main {
    display: flex;
    position: absolute;
    z-index: 99;
    top: 100%;
    left: var(--bs-gutter-x,.75rem);
    right: var(--bs-gutter-x,.75rem);
    background: rgba(0,160,255,.75);
		flex-direction: column;
    opacity: 0;
    visibility: hidden;  
    transform: translateX(-50%) rotateX(-15deg);
    transform-origin: 50% -50px;
		will-change: transform, opacity, visibility;
		transition-property: opacity, transform, visibility;
		transition-duration: .3s;

    @include media-breakpoint-up(lg) {
      opacity: 1;	
      visibility: visible;
      transform: rotateX(0);
      background: transparent;
      position: relative;
      flex-direction: row;
    }
    .nav-item {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 100%;
        right: 0;
        border-right: 1px solid #fff;
      }
      span {
        color: #fff;
      }
      &:last-child , &:only-child {
        margin-right: 0;
        &:before {
          display: none;
        }
      }
    }
    .nav-link {
      margin: 1rem 1.5rem;
      padding: 0;
      color: #fff;
      text-transform: uppercase;
      &:before {
        background: #fff;
      }
     
      &:hover {
        color: #fff;
      }
    }
    .dropdown-menu {
      .nav-link {
        margin: 0;
        color: black;
        font-size: 0.875em; 
      }
    }
  }

  .dropdown-menu {
    padding: 15px !important; 
    transform: none !important;
    top: calc(100% + 10px) !important;
  }
}

.nav-main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: linear-gradient(180deg, rgba(0,131,255,1) 0%, rgba(0,90,175,1) 100%);
  box-shadow: rgba(97, 71, 71, 0.5) 0px 20px 20px -15px;

  @include media-breakpoint-up(lg) {
    padding: 0;
    .search-control {
      display: none;
    }
  }

  .search-control {
    fill: #fff;
    width: 32px;
    height: 32px;
  }


}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  display: inline-block;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -2px;
    height: 1px;
    background: var(--color-primary);
    width: 100%;
    transform: scale(0);
    transition: all 0.5s var(--default-effect);
  }

  &:hover, &.is-active {
    &:before {
      transform: scale(1);
    }
  }
} 

.header__controller {
  flex-direction: row;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 99;
  top: 100%;
  left: var(--bs-gutter-x,.75rem);
  right: var(--bs-gutter-x,.75rem);
  background: rgba(0,160,255,.75);
  padding: 15px;
  opacity: 0;
  visibility: hidden;  
  transform: translateX(-50%) rotateX(-15deg);
  transform-origin: 50% -50px;
  will-change: transform, opacity, visibility;
  transition-property: opacity, transform, visibility;
  transition-duration: .3s;
  width: auto;
  @include media-breakpoint-up(lg) {
    display: flex;
    opacity: 1;	
    visibility: visible;
    transform: rotateX(0);
    position: relative;
    background: transparent;
    padding: 0;
    left: auto;
    right: auto;
  }
}

.font-controller {
  display: none;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  @include media-breakpoint-up(lg) {
    display: flex;
  }
  &__label {
    font-size: 0.875em;
    margin-right: 5px;
    white-space: nowrap;
  }

  &__btns {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__btn {
    background: #494949;
    color: #fff;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    line-height: 0;
    cursor: pointer;
  }
}

$height-icon: 24px;
$width-line: 50px;
$height-line: 2px;
$transition-time: 0.4s;
$rotation: 45deg;
$translateY: ($height-icon / 2);
$translateX: 0;

.hamburger-icon {
	width: $width-line;
	height: $height-icon;
	position: relative;
	display: block;
  margin: 20px 0 22px 0;
	@include media-breakpoint-up(lg) {
		display: none;
	}
	&__line {
		display: block;
		background:#fff;
		width: $width-line;
		height: $height-line;
		position: absolute;
		left: 0;
		border-radius: ($height-line / 2);
		transition: all $transition-time;

		&--1 {
			top: 0;
		}
		&--2 {
			top: 50%;
		}
		&--3 {
			top: 100%;
		}
	}

	&:hover , &:focus {

		.hamburger-icon__line--1 {
			transform: translateY($height-line / 2 * -1);
		}

		.hamburger-icon__line--3 {
			transform: translateY($height-line / 2);
		}  
	}

	&.active {
		.hamburger-icon__line--1 {
			transform: translateY($translateY) translateX($translateX) rotate($rotation);
		}
		.hamburger-icon__line--2 {
			opacity:0;
		}
		.hamburger-icon__line--3 {
			transform: translateY($translateY * -1) translateX($translateX) rotate($rotation * -1);
		}
	}
}