.news {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding: 0;

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    &:last-child {
      margin-right: 0;
    }

    @include media-breakpoint-up(md) {
      width: calc(50% - 20px);
      margin-right: 20px;
    }

    @include media-breakpoint-up(xl) {
      width: calc(33.33% - 20px);
      margin-right: 20px;
    }
	
  }

  &__item-thumb {
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    margin-bottom: 20px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background: rgba(0,0,0,0.3);
      transition: all 0.3s;
    }

    &:hover {
      &:after {
        background: rgba(0,0,0,0);
      }
    }
  }

  &__item-title {
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;
  }

  &__item-time {
    font-size: 0.875em;
    font-style: italic;
  }
}