.notices {
  margin-bottom: 45px;
  flex-wrap: wrap;
  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: var(--color-quaternary);
    border-radius: 4px;
    padding: 20px;
    border: 1px solid var(--color-quaternary);
    transition: all 0.3s ease-out;
    overflow: hidden;
    text-decoration: none;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      width: calc(50% - 20px);
      margin-right: 20px;
    }

    @include media-breakpoint-up(xl) {
      width: calc(25% - 20px);
      margin-right: 20px;
    }


    &:last-child {
      margin-right: 0;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -16px;
      right: -16px;
      background: #00838d;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(2);
      transform-origin: 50% 50%;
      transition: transform 0.15s ease-out;
    }

    &:hover {
      transition: all 0.2s ease-out;
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
      top: -4px;
      border: 1px solid #cccccc;
      background-color: white;

      &:before {
        transform: scale(2.15);
      }
    }
  }

  &__title {
    color: #262626;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #666666;
  }

  &__information {
    color: #666666;
    flex-wrap: wrap;
    flex-direction: column;
    li {
      width: 100%;
      margin-bottom: 10px;
    }
    .bi {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }

  &__corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: var(--color-tertiary);
    border-radius: 0 4px 0 32px;
    opacity: 0.7;
    transition: all 0.3s ease-out;

    .go-arrow {
      margin-top: -4px;
      margin-right: -4px;
      color: white;
      font-family: courier, sans;
    }
  }
  
}