.socials {
  display: flex;
  flex-wrap: wrap;

  h4 {
    font-size: 1.85em;
    width: 100%;
  }

  ul {
    display: flex;
    padding-left: 0;
    li {
      margin-right: 15px;
      list-style: none;
      &:last-child, &:only-child {
        margin-right: 0;
      }
    }
  }

  a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    display: inline-block;

    
  }
}