.title {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding-left: 16px;
  @include media-breakpoint-up(md) {
    padding-left: 0;
  }
  &--hasIcon {
    svg {
      width: 32px;
      height: 32px;
      margin-right: 30px;
      position: relative;
      z-index: 2;
      fill: #fff;
    }
  }

  &__icon {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 0; left: 0;
      width: 64px; height: 64px;
      transform: translate(-16px, -16px);
      background: var(--color-primary);
      border-radius: 50%;
    }
  }
}