// common style 

.main {
  margin-bottom: 4rem;
}

.section {
  padding: 100px 0;
  &--top {
    padding-top: 20px;
  }
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.events-list {

  .card-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-height: 320px;
    text-decoration: none !important;
    
    &:before {
      content: '';
      background: rgba(0,0,0,0.5);
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      transition: all 0.5s;
    }

    > * {
      position: relative;
      z-index: 1;
      margin-top: auto;
      padding: 25px;
    }

    &:hover {
      &:before { 
        background: rgba(0,0,0,0.25);
      }
      .card-title {
        transform: none;
      }
      .card-desc { 
        opacity: 1;
        transform: none;
      }
      ul {
        opacity: 1;
        transform: none;
      }
    }
  }

  .card-title {
    color: #fff;
    text-decoration: none;
    margin: 0 0 15px;
    transform: translateY(120%);
    transition: all 0.5s;
    font-size: 2em;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s 0.1s;
  }

  ul {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.4s 0.3s;
  }

  
}

.highlight {
  max-width: 615px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.highlight__content {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 40px;
  }
}